<% layout('layout') %>
<div class="container">
  <a href="/home">
      <img class="logo-small" src="../images/SellTrueLogo.png" alt="">
  </a>
  <h1 class="page-title">All Products</h1>
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <% products.forEach((product) => { %>
          <div class="stform">
            <dt><%- product.productname %></dt><br><br>
            <a href="/home/updateproduct/<%- product.id %>" class="btn btn-primary btn-sm active" role="button">Edit Product</a>

              <form action="/home/deleteproduct/<%- product.id %>?_method=delete" method="post" class='deletebtn btnbox'>
                  <input type="submit" value="Delete Product" class="btn btn-danger btn-sm active" role="button"></input>
              </form><br>
              </div>
       <% }) %>
      </dl>
    </div>
