<% layout('layout') %>
<div class="container">
  <a href="/home">
      <img class="logo-small" src="../images/SellTrueLogo.png" alt="">
  </a>
  <h1 class="page-title">Show All Outlets</h1>
  <div class="panel panel-primary">
    <div class="panel-heading"></div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <% outlets.forEach((outlet) => { %>
          <div class="stform">
            <dt><%- outlet.outletname %></dt><br><br>
            <a href="/home/updateoutlet/<%- outlet.id %>"><button class="btn btn-primary btn-sm active">Edit Outlet</button></a>

              <form action="/home/deleteoutlet/<%- outlet.id %>?_method=delete" method="post" class='deletebtn btnbox'>
                  <input type="submit" value="Delete Outlet" class="btn btn-danger btn-sm active" role="button"></input>
              </form><br>
              </div>
       <% }) %>

      </dl>
    </div>
